.sidebar-items {
	.sidebar-item {
		color: var(--gh-lighter-grey);
		// padding: 0 var(--spacer-xs);
		cursor: default;
		width: 100%;

		&:hover {
			background-color: var(--color-canvas-default);
		}
	}
}